---
import Star from "@/components/svg/Star.astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string;
  imageSrc: ImageMetadata;
  alt: string;
}

const { title, description, imageSrc, alt } = Astro.props;
---

<div
  class="flex flex-col justify-between gap-x-16 gap-y-1 lg:flex-row lg:gap-y-4"
>
  <div
    class="flex shrink-0 flex-col gap-x-10 gap-y-3 lg:flex-row lg:items-center lg:gap-y-4"
  >
    <Image
      class="h-20 w-full rounded-2xl object-cover lg:h-24 lg:w-64 lg:rounded-full"
      src={imageSrc}
      widths={[256, 400, 624]}
      sizes="(max-width: 640px) 400px, (max-width: 1024px) 540px, 256px"
      height={96}
      alt={alt}
    />
    <h3 class="text-2xl font-medium lg:w-52 xl:w-full xl:text-balance">
      {title}
    </h3>
  </div>
  <div class="flex items-center gap-x-12 lg:max-w-lg">
    <p>
      {description}
    </p>
    <Star class="hidden h-16 w-16 lg:block" />
  </div>
</div>
