---
import Logo from "@/components/svg/Logo";
---

<div
  class="absolute right-1/2 top-1/2 z-20 flex aspect-square w-2/3 -translate-y-1/2 translate-x-1/2 flex-col items-center justify-center gap-y-3.5 rounded-full bg-primary/75 font-semibold text-neutral-200 sm:text-lg"
>
  <Logo
    class="h-12 w-12 fill-neutral-200 transition-colors group-hover:fill-accent group-focus-visible:fill-accent pointer-coarse:!fill-neutral-200 sm:h-16 sm:w-16"
  />
  Wkrótce
</div>
