---
import type {
  DevOverlayProps,
  OverlayProps,
} from "@/components/Projects/ProjectCard.astro";
import DevelopmentOverlay from "@/components/Projects/DevelopmentOverlay.astro";
import ProjectOverlay from "@/components/Projects/ProjectOverlay.astro";

type Props = OverlayProps | DevOverlayProps;

const props = Astro.props;
---

<div class="relative aspect-[1/0.85] w-full overflow-hidden bg-gray-300">
  {
    props.inDevelopment ? (
      <DevelopmentOverlay />
    ) : (
      <ProjectOverlay href={props.href} />
    )
  }
  <div class="absolute inset-0 z-10 backdrop-blur-[6px]"></div>
  <slot />
</div>
