---
import ProjectCardOverlay from "@/components/Projects/ProjectCardOverlay.astro";
import Star from "@/components/svg/Star.astro";
import { Image } from "astro:assets";
import TheSuzieStoreImage from "@/assets/the-suzie-store2.png";
import type { Options } from "astro:transitions/client";

export type DevOverlayProps = {
  inDevelopment: true;
  href?: undefined;
};

export type OverlayProps = {
  inDevelopment?: false;
  href: string;
};

type BaseProps = {
  class?: string;
  title: string;
  imageSrc: ImageMetadata;
  projectName: string;
};

type Props = (BaseProps & OverlayProps) | (BaseProps & DevOverlayProps);

const { class: className, title, imageSrc, ...overlayProps } = Astro.props;
---

<div
  tabindex="0"
  class:list={[
    "group w-full flex-1 overflow-hidden rounded-3xl shadow-xl outline-transparent transition-[outline-color] focus-visible:outline focus-visible:outline-3 focus-visible:outline-offset-3 focus-visible:outline-accent lg:max-w-lg",
    className,
  ]}
>
  <ProjectCardOverlay {...overlayProps}>
    <Image
      class="h-full w-full object-cover transition-transform duration-1000 ease-out group-focus-within:scale-105 group-hover:scale-105 pointer-coarse:!scale-100"
      src={imageSrc}
      quality="low"
      width={200}
      alt={overlayProps.projectName}
    />
  </ProjectCardOverlay>
  <div class="flex items-center gap-x-6 bg-primary p-6 sm:gap-x-7 sm:p-8">
    <Star
      class="h-6 w-6 fill-neutral-200 transition-colors group-focus-within:fill-accent group-hover:fill-accent pointer-coarse:!fill-neutral-200 sm:h-8 sm:w-8"
    />
    <h1
      class="w-full truncate text-lg font-medium capitalize text-neutral-200 sm:text-2xl"
    >
      {title}
    </h1>
  </div>
</div>
