---
import ProjectCard from "@/components/Projects/ProjectCard.astro";
import Section from "@/layouts/Section.astro";
---

<Section id="projects" header="Projekty" headerClass="!mb-6 lg:!mb-8">
  <div class="flex flex-col justify-between gap-x-16 gap-y-8 lg:flex-row">
    <ProjectCard title="Lorem Ipsum - Dolor" href="test" />
    <ProjectCard title="Lorem Ipsum - Dolor" inDevelopment={true} />
  </div>
</Section>
