---
import Logo from "@/components/svg/Logo";
import { ArrowUpRightIcon } from "lucide-solid";

interface Props {
  inDevelopment?: boolean;
}

const { inDevelopment = false } = Astro.props;
---

<Fragment>
  {
    inDevelopment ? (
      <div class="absolute right-1/2 top-1/2 flex aspect-square w-2/3 -translate-y-1/2 translate-x-1/2 flex-col items-center justify-center gap-y-3.5 rounded-full bg-primary/50 font-semibold text-neutral-200 sm:text-lg">
        <Logo class="h-12 w-12 fill-neutral-200 transition-colors group-hover:fill-accent group-focus-visible:fill-accent sm:h-16 sm:w-16" />
        Wkrótce
      </div>
    ) : (
      <a
        href=""
        class="group/link absolute bottom-5 right-5 scale-90 rounded-full bg-primary/50 p-3 opacity-0 outline-transparent transition-[opacity,transform,outline-color] focus-visible:outline focus-visible:outline-2 focus-visible:outline-accent group-focus-within:scale-100 group-focus-within:opacity-100 group-hover:scale-100 group-hover:opacity-100 sm:bottom-6 sm:right-6 [@media(pointer:coarse)]:scale-100 [@media(pointer:coarse)]:opacity-100"
      >
        <ArrowUpRightIcon
          aria-hidden="true"
          class="h-8 w-8 stroke-accent transition-colors group-hover/link:stroke-neutral-200 group-focus-visible/link:stroke-neutral-200"
        />
      </a>
    )
  }
</Fragment>
