---
import ProjectCard from "@/components/Projects/ProjectCard.astro";
import Section from "@/layouts/Section.astro";
import TheSuzieStoreImage from "@/assets/projects/the-suzie-store.png";
import MarkerImage from "@/assets/projects/marker.png";
---

<Section id="projects" header="Projekty" headerClass="!mb-6 lg:!mb-8">
  <div class="flex flex-col justify-between gap-x-16 gap-y-8 lg:flex-row">
    <ProjectCard
      title="Sklep internetowy"
      projectName="The Suzie Store"
      imageSrc={TheSuzieStoreImage}
      href="https://www.thesuziestore.pl/"
    />
    <ProjectCard
      title="Prosty Blog - Demo"
      projectName="Marker"
      imageSrc={MarkerImage}
      href="https://ddodu2s2bvp8p.cloudfront.net/"
    />
  </div>
</Section>
