---
import ProjectCardOverlay from "@/components/Projects/ProjectCardOverlay.astro";
import Star from "@/components/svg/Star.astro";

export type DevOverlayProps = {
  inDevelopment: true;
  href?: undefined;
};

export type OverlayProps = {
  inDevelopment?: false;
  href: string;
};

type BaseProps = {
  class?: string;
  title: string;
};

type Props = (BaseProps & OverlayProps) | (BaseProps & DevOverlayProps);

const { class: className, title, ...overlayProps } = Astro.props;
---

<div
  tabindex="0"
  class:list={[
    "group w-full flex-1 overflow-hidden rounded-3xl shadow-xl outline-transparent transition-[outline-color] focus-visible:outline focus-visible:outline-[3px] focus-visible:outline-offset-[3px] focus-visible:outline-accent lg:max-w-lg",
    className,
  ]}
>
  <div class="relative aspect-[1/0.85] w-full bg-gray-700">
    <ProjectCardOverlay {...overlayProps} />
  </div>
  <div class="flex items-center gap-x-6 bg-primary p-6 sm:gap-x-8 sm:p-8">
    <Star
      class="h-6 w-6 fill-neutral-200 transition-colors group-focus-within:fill-accent group-hover:fill-accent sm:h-8 sm:w-8"
    />
    <h1
      class="w-full truncate text-xl font-medium capitalize text-neutral-200 sm:text-2xl"
    >
      {title}
    </h1>
  </div>
</div>
