---
import face1Img from "@/assets/face-1.png";
import face2Img from "@/assets/face-2.png";
import Quote from "./Quote.astro";
import AboutCollapsible from "./AboutCollapsible";
import Section from "@/layouts/Section.astro";
import Separator from "@/components/Separator.astro";
---

<Section id="about" header="O Nas">
  <div class="flex flex-col gap-x-24 gap-y-8 lg:flex-row lg:justify-between">
    <div class="lg:max-w-lg lg:text-lg">
      <h2 class="mb-2 font-display text-4xl sm:text-6xl lg:mb-6 lg:text-7xl">
        Lorem ipsum <br /> dolor sit
      </h2>
      <AboutCollapsible client:visible />
    </div>
    <div class="flex flex-col gap-y-4">
      <Quote
        title="Lorem Ipsum"
        subtitle="CEO Dolor"
        imageSrc={face1Img}
        alt=""
      >
        "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima
        adipisci at debitis magnam doloremque tempora qui veniam expedita."
      </Quote>
      <Separator class="h-0.5" />
      <Quote
        title="Lorem Ipsum"
        subtitle="CEO Dolor"
        imageSrc={face2Img}
        alt=""
      >
        "Inventore beatae quibusdam quidem nemo fugiat consectetur molestiae,
        quo animi tempora perferendis odio. Officiis, vel tempora!"
      </Quote>
    </div>
  </div>
</Section>
