---
import face1Img from "@/assets/face-1.png";
import face2Img from "@/assets/face-2.png";
import Quote from "./Quote.astro";
import AboutCollapsible from "./AboutCollapsible";
import Section from "@/layouts/Section.astro";
import Separator from "@/components/Separator.astro";
---

<Section id="about" header="O Nas">
  <div class="flex flex-col gap-x-24 gap-y-8 lg:flex-row lg:justify-between">
    <div class="text-justify lg:max-w-lg lg:text-lg">
      <h2 class="mb-2 font-display text-4xl sm:text-6xl lg:mb-6 lg:text-7xl">
        Misja Revised
      </h2>
      <AboutCollapsible client:visible />
    </div>
    <div class="flex flex-col gap-y-4">
      <Quote
        title="Szybka i Sprawna Obsługa"
        subtitle="Ocena: 5/5"
        imageSrc={face1Img}
      >
        "Firma Revised stworzyła dla mnie stronę internetową, która jest
        dokładnie taka, jaką chciałem. Proces przebiegał sprawnie i
        bezproblemowo, a zespół Revised był bardzo pomocny i cierpliwy."
      </Quote>
      <Separator class="h-0.5" />
      <Quote
        title="Profesjonalna Firma"
        subtitle="Ocena: 4.5/5"
        imageSrc={face2Img}
      >
        "Zleciłem firmie Revised stworzenie prostej strony internetowej dla
        mojego biznesu. Została ona wykonana szybko i sprawnie, a finalny
        produkt spełnił moje oczekiwania."
      </Quote>
    </div>
  </div>
</Section>
