---
import Logo from "@/components/svg/Logo.tsx";
import MobileNavigation from "./MobileNavigation.tsx";
import { navLinks } from "./MobileNavigation";
import { ArrowUpRightIcon } from "@/components/svg/icons";
---

<div class="mt-8 flex w-full justify-center px-4 sm:px-8 lg:mt-4">
  <nav
    class="h-18 grid w-full max-w-sm grid-cols-2 items-center justify-between sm:max-w-7xl lg:grid-cols-[1fr_auto_1fr] lg:rounded-full lg:bg-primary lg:px-12 lg:py-3 xl:px-16"
  >
    <a
      class="w-max focus-visible:rounded-sm focus-visible:outline-none focus-visible:outline-offset-4 focus-visible:outline-primary lg:focus-visible:outline-neutral-200"
      href="/"
      aria-label="Strona Główna"
    >
      <Logo class="h-6 w-6 fill-primary lg:fill-neutral-200" />
    </a>
    <div
      class="hidden gap-x-8 justify-self-center text-lg text-neutral-100 lg:flex"
    >
      {
        navLinks.map(({ name, href }) => (
          <a
            class="px-2 py-1 transition-colors hover:text-neutral-300 focus-visible:rounded-sm focus-visible:outline-none focus-visible:outline-neutral-200"
            href={href}
          >
            {name}
          </a>
        ))
      }
    </div>
    <div class="flex items-center gap-x-4 justify-self-end">
      <a
        href="https://outlook.office365.com/owa/calendar/spotkania@revised.pl/bookings/"
        target="_blank"
        class="col-span-2 flex h-10 w-max items-center gap-x-1.5 rounded-full bg-accent px-5 py-2 text-sm font-medium text-white transition-colors hover:bg-primary focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-3 focus-visible:outline-accent lg:hover:bg-neutral-100 lg:hover:text-primary"
      >
        Umów spotkanie
        <ArrowUpRightIcon class="h-5 w-5 stroke-[0.35]" />
      </a>
      <MobileNavigation client:visible />
    </div>
  </nav>
</div>
