---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Star from "../components/Star.astro";

import Navigation from "../components/Navigation";
---

<Layout title="Welcome to Astro.">
  <Navigation client:load />
  <main class="flex flex-col items-center">
    <Hero />
    <div
      class="hidden h-20 w-full items-center justify-evenly bg-primary lg:flex"
    >
      <Star class="fill-neutral-100" size={32} />
      <Star class="fill-neutral-100" size={32} />
      <Star class="fill-neutral-100" size={32} />
    </div>
  </main>
</Layout>
