---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Star from "@/components/svg/Star.astro";
import Navigation from "@/components/Navigation/Navigation.astro";
import About from "@/components/About/About.astro";
import Services from "@/components/Services/Services.astro";
import Projects from "@/components/Projects/Projects.astro";
import Contact from "@/components/Contact/Contact.astro";
import Footer from "@/components/Footer.astro";

export const prerender = true;
---

<Layout title="Revised">
  <Navigation />
  <main class="flex flex-col items-center">
    <Hero />
    <div
      class="hidden h-20 w-full items-center justify-evenly bg-primary lg:flex"
    >
      <Star class="h-8 w-8 fill-neutral-100" />
      <Star class="h-8 w-8 fill-neutral-100" />
      <Star class="h-8 w-8 fill-neutral-100" />
    </div>
    <About />
    <Services />
    <Projects />
    <Contact />
  </main>
  <Footer />
</Layout>

<script>
  import { setUrlState } from "@/utils";

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) setUrlState({ hash: entry.target.id });
      });
    },
    {
      threshold: 0.9,
    },
  );

  window.addEventListener("DOMContentLoaded", () => {
    document
      .querySelectorAll("section")
      .forEach((section) => observer.observe(section));
  });
</script>
