---
import Layout from "@/layouts/Layout.astro";
import Navigation from "@/components/Navigation/Navigation.astro";
import Footer from "@/components/Footer.astro";
---

<Layout title="Polityka Prywatności | Revised">
  <Navigation />
  <main class="px-4 py-12">
    <section
      class="mx-auto max-w-sm text-justify md:max-w-xl [&_h2]:mt-2 [&_h2]:text-lg [&_h2]:font-medium [&_p]:mt-1"
    >
      <h1 class="mb-4 text-2xl font-semibold md:text-3xl">
        Polityka Prywatności
      </h1>
      <h2>Właściciel i Administrator Danych</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore magni,
        quidem vero quasi mollitia esse rem quos molestias dignissimos, quam
        adipisci. Iusto a aperiam culpa eaque possimus ipsa animi laudantium
        dicta. Molestiae labore beatae ex eveniet consequuntur consectetur
        repudiandae accusamus velit minima, repellendus voluptate suscipit at
        dolores provident voluptatem atque!
      </p>
    </section>
  </main>
  <Footer />
</Layout>
