---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Polityka Prywatności" class="px-4 py-12">
  <section
    class="mx-auto max-w-2xl text-justify [&_h2]:mt-3 [&_h2]:text-xl [&_h2]:font-medium [&_p]:mt-1.5 [&_ul]:list-inside [&_ul]:list-disc"
  >
    <h1 class="mb-4 text-2xl font-semibold md:text-3xl">
      Polityka Prywatności
    </h1>
    <p>
      Firma Revised, należąca do WISE TRADING GROUP Sp. z O.O., z siedzibą w
      Kotariwcach, Polska, przywiązuje dużą wagę do ochrony prywatności
      użytkowników odwiedzających strony internetowe tworzone przez firmę.
      Niniejsza polityka prywatności określa zasady gromadzenia, przetwarzania i
      wykorzystywania danych osobowych użytkowników.
    </p>
    <h2>Dane Osobowe</h2>
    <p>
      Podczas korzystania ze stron internetowych tworzonych przez firmę Revised,
      użytkownik może zostać poproszony o podanie danych osobowych, takich jak:
    </p>
    <ul>
      <li>imię i nazwisko,</li>
      <li>adres e-mail,</li>
      <li>numer telefonu,</li>
      <li>adres zamieszkania,</li>
      <li>dane firmy.</li>
    </ul>
    <p>Dane osobowe są gromadzone i przetwarzane w celach:</p>
    <ul>
      <li>realizacji usług świadczonych przez firmę Revised,</li>
      <li>kontaktu z użytkownikiem,</li>
      <li>przesyłania informacji marketingowych,</li>
      <li>usprawniania działania stron internetowych,</li>
      <li>prowadzenia analiz statystycznych.</li>
    </ul>
    <h2>Zgoda</h2>
    <p>
      Wchodząc na strony internetowe tworzone przez firmę Revised, użytkownik
      wyraża zgodę na:
    </p>
    <ul>
      <li>
        gromadzenie i przetwarzanie swoich danych osobowych w celach określonych
        w niniejszej polityce prywatności,
      </li>
      <li>otrzymywanie informacji marketingowych od firmy Revised,</li>
      <li>
        przekazywanie danych osobowych podmiotom trzecim, w tym partnerom firmy
        Revised, w celu realizacji usług.
      </li>
    </ul>
    <h2>Prawa Użytkownika</h2>
    <p>Użytkownik ma prawo do:</p>
    <ul>
      <li>dostępu do swoich danych osobowych,</li>
      <li>poprawienia swoich danych osobowych,</li>
      <li>usunięcia swoich danych osobowych,</li>
      <li>ograniczenia przetwarzania swoich danych osobowych,</li>
      <li>wniesienia sprzeciwu wobec przetwarzania swoich danych osobowych,</li>
      <li>przeniesienia swoich danych osobowych.</li>
    </ul>
    <h2>Pliki cookies</h2>
    <p>
      Strony internetowe tworzone przez firmę Revised wykorzystują pliki
      cookies. Pliki cookies to małe pliki tekstowe, które są zapisywane na
      komputerze użytkownika.
    </p>
    <p>Pliki cookies są wykorzystywane do:</p>
    <ul>
      <li>zapamiętywania preferencji użytkownika,</li>
      <li>usprawniania działania stron internetowych,</li>
      <li>analizowania statystyk odwiedzin.</li>
    </ul>
    <p>
      Użytkownik może w dowolnym momencie wyłączyć pliki cookie w swojej
      przeglądarce internetowej.
    </p>
    <p class="font-semibold">
      Strona internetowa Revised (revised.pl) nie używa plików cookies.
    </p>
    <h2>Bezpieczeństwo</h2>
    <p>
      Firma Revised stosuje odpowiednie środki techniczne i organizacyjne w celu
      ochrony danych osobowych użytkowników przed nieuprawnionym dostępem,
      wykorzystaniem lub ujawnieniem.
    </p>
    <h2>Zmiany w Polityce Prywatności</h2>
    <p>
      Firma Revised zastrzega sobie prawo do zmiany niniejszej polityki
      prywatności. Wszelkie zmiany w polityce prywatności będą publikowane na
      stronach internetowych tworzonych przez firmę Revised.
    </p>
    <h2>Kontakt</h2>
    <p>
      W przypadku pytań dotyczących niniejszej polityki prywatności, użytkownik
      może skontaktować się z firmą Revised pod adresem e-mail
      kontakt@revised.pl lub pod numerem telefonu +48 696 917 624.
    </p>
    <h2>Informacje o Firmie</h2>
    <p>WISE TRADING GROUP Sp. z O.O.</p>
    <p>NIP: 9482636148</p>
  </section>
</Layout>
