---
import ContactForm from "@/components/Contact/ContactForm";
---

<section
  id="contact"
  class="mt-28 w-full bg-primary py-14 text-neutral-200 sm:mt-32 sm:py-16 lg:mt-40 lg:py-20"
>
  <div
    class="mx-auto flex max-w-[26rem] flex-col items-center px-4 sm:max-w-2xl sm:px-8 lg:max-w-6xl"
  >
    <h1 class="mb-2 w-full text-center text-lg sm:text-xl lg:mb-3 lg:text-2xl">
      Skontaktuj się
    </h1>
    <h2
      class="mb-8 text-balance text-center text-2xl sm:text-4xl lg:mb-12 lg:text-6xl"
    >
      Masz wizję wymarzonej strony lub chcesz dowiedzieć się wiecej?
    </h2>
    <ContactForm client:visible />
  </div>
</section>
