---
import { ArrowDownRightIcon } from "@heroicons/react/20/solid";
import face1Img from "../assets/face-1.png";
import face2Img from "../assets/face-2.png";
import Quote from "./Quote.astro";
import AboutDropdown from "./AboutDisclosure";
---

<section
  id="about"
  class="w-full max-w-sm px-4 py-16 sm:max-w-2xl sm:px-8 sm:py-24 lg:max-w-7xl lg:py-32 xl:max-w-6xl xl:px-0"
>
  <h1
    class="mb-2 w-max rounded-full bg-primary px-4 py-2 text-sm text-neutral-100 sm:text-base lg:mb-4 lg:px-6 lg:text-lg"
  >
    O Nas
  </h1>
  <div class="flex flex-col gap-y-8 lg:flex-row lg:justify-between lg:gap-x-24">
    <div class="lg:max-w-lg lg:text-lg">
      <h2 class="mb-4 font-display text-4xl sm:text-6xl lg:mb-6 lg:text-7xl">
        Lorem ipsum <br /> dolor sit
      </h2>
      <AboutDropdown client:visible />
    </div>
    <div class="flex flex-col gap-y-4">
      <Quote
        title="Lorem Ipsum"
        subtitle="CEO Dolor"
        imageSrc={face1Img}
        alt=""
      >
        "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima
        adipisci at debitis magnam doloremque tempora qui veniam expedita."
      </Quote>
      <span class="h-0.5 bg-neutral-200"></span>
      <Quote
        title="Lorem Ipsum"
        subtitle="CEO Dolor"
        imageSrc={face2Img}
        alt=""
      >
        "Inventore beatae quibusdam quidem nemo fugiat consectetur molestiae,
        quo animi tempora perferendis odio. Officiis, vel tempora!"
      </Quote>
    </div>
  </div>
</section>
