---
import Logo from "@/components/svg/Logo";
---

<footer class="bg-primary px-4 sm:px-8">
  <div
    class="mx-auto flex max-w-sm justify-between border-t-2 border-neutral-200/20 py-10 sm:max-w-7xl"
  >
    <a href="/" aira-label="Strona Główna">
      <Logo class="h-6 w-6 fill-neutral-200" />
    </a>
    <p class="italic text-neutral-200">Lorem ipsum dolor sit.</p>
  </div>
</footer>
