---
import Logo from "@/components/svg/Logo";
---

<footer class="bg-primary px-4 sm:px-8">
  <div
    class="mx-auto flex max-w-sm justify-between border-t-2 border-neutral-200/20 py-10 sm:max-w-7xl"
  >
    <a href="/" aria-label="Strona Główna">
      <Logo class="h-6 w-6 fill-neutral-200" />
    </a>
    <a
      class="text-neutral-200 transition-colors hover:text-neutral-300"
      href="/privacy-policy">Polityka Prywatności</a
    >
  </div>
</footer>
