---
import { Image } from "astro:assets";
import copperBackground from "@/assets/copper-background.webp";
import Star from "@/components/svg/Star.astro";
import Section from "@/layouts/Section.astro";
---

<Section
  class="!mt-12 flex flex-col items-center justify-evenly !pt-0 sm:max-w-2xl lg:h-[calc(100vh-8rem)] lg:max-h-[900px] lg:!max-w-none lg:pb-0"
>
  <div
    class="flex w-full max-w-7xl flex-1 flex-col lg:justify-evenly lg:px-12 xl:px-16"
  >
    <div>
      <h1 class="text-sm font-semibold sm:text-base lg:text-xl lg:font-black">
        Revised x WISE TRADING GROUP
      </h1>
      <h2
        class="flex flex-col font-display text-4xl tracking-tight sm:text-6xl lg:-translate-x-0.5 lg:text-8xl"
      >
        <span class="relative">
          Lorem ipsum dolor
          <Star
            id="hero-star"
            class="absolute right-0 top-0 hidden h-36 w-36 fill-accent xl:block"
          />
        </span>
        <span>sit amet consectetur</span>
      </h2>
    </div>
    <p
      class="mb-8 mt-2 text-base sm:text-lg lg:my-8 lg:-translate-y-2 lg:self-end lg:text-2xl lg:font-medium"
    >
      Lorem ipsum, dolor sit amet consectetur <br /> adipisicing elit. Culpa
      aperiam fugit quidem <br /> mollitia beatae distinctio ratione atque.
    </p>
  </div>
  <Image
    class="h-72 w-full max-w-7xl rounded-3xl object-cover lg:h-[50%] lg:rounded-b-none lg:rounded-t-[3rem]"
    src={copperBackground}
    loading="eager"
    fetchpriority="high"
    widths={[400, 640, 1280]}
    srcset="(max-width: 640px) 400px, (max-width: 1024px) 640px, 1280px"
    alt="Tło"
  />
</Section>

<script>
  const isStarVisible = window.matchMedia("(min-width: 1280px)").matches;
  const isReducedMotion = window.matchMedia(
    "(prefers-reduced-motion: reduce)",
  ).matches;

  if (isStarVisible && !isReducedMotion) {
    const star = document.querySelector("#hero-star");
    star?.classList.add("star-animate");
    setInterval(() => {
      if (star?.classList.contains("star-animate")) {
        star.classList.remove("star-animate");
      } else {
        star?.classList.add("star-animate");
      }
    }, 10000);
  }
</script>

<style>
  .star-animate {
    animation: starAnimation 2.5s;
  }

  @keyframes starAnimation {
    0% {
      transform: rotate(0deg) scale(100%);
    }

    20% {
      transform: rotate(-25deg) scale(85%);
    }

    80% {
      transform: rotate(760deg) scale(90%);
    }

    100% {
      transform: rotate(720deg) scale(100%);
    }
  }
</style>
