---
import { Image } from "astro:assets";
import copperBackgroundImage from "@/assets/copper-background.jpg";
import Star from "@/components/svg/Star.astro";
import Section from "@/layouts/Section.astro";
---

<Section
  class="!mt-12 flex flex-col items-center justify-evenly !pt-0 sm:max-w-2xl lg:h-[calc(100vh-8rem)] lg:max-h-[900px] lg:!max-w-none lg:pb-0"
>
  <div
    class="flex w-full max-w-7xl flex-1 flex-col lg:justify-evenly lg:px-12 xl:px-16"
  >
    <div>
      <h1 class="text-sm font-semibold sm:text-base lg:text-xl lg:font-black">
        Revised x WISE TRADING GROUP
      </h1>
      <h2
        class="relative flex flex-col font-display text-4xl tracking-tight sm:text-6xl sm:!leading-[1.1] lg:-translate-x-0.5 lg:text-7xl [@media(min-width:1050px)]:text-8xl"
      >
        Tworzymy strony następnej generacji
        <Star
          id="hero-star"
          class="absolute right-0 top-0 hidden h-36 w-36 fill-accent xl:block"
        />
      </h2>
    </div>
    <p
      class="mb-8 mt-3 text-base sm:mt-4 sm:text-lg lg:my-8 lg:-translate-y-2 lg:self-end lg:text-2xl lg:font-medium"
    >
      Strony zmieniają się w zatrważającym tempie. <br />
       W Revised chcemy, aby każdy miał dostęp <br /> do najnowszych i
      przełomowych technologii.
    </p>
  </div>
  <Image
    class="h-72 w-full max-w-7xl rounded-3xl object-cover lg:h-[50%] lg:rounded-b-none lg:rounded-t-[3rem]"
    src={copperBackgroundImage}
    loading="eager"
    fetchpriority="high"
    widths={[400, 640, 1280]}
    srcset="(max-width: 640px) 400px, (max-width: 1024px) 640px, 1280px"
    width={1280}
    height={450}
    alt="Abstrakcyjne faliste tło z teksturą szczotkowanej miedzi."
  />
</Section>

<script>
  const isStarVisible = window.matchMedia("(min-width: 1280px)").matches;
  const isReducedMotion = window.matchMedia(
    "(prefers-reduced-motion: reduce)",
  ).matches;

  if (isStarVisible && !isReducedMotion) {
    const star = document.querySelector("#hero-star");
    star?.classList.add("star-animate");
    setInterval(() => {
      if (star?.classList.contains("star-animate")) {
        star.classList.remove("star-animate");
      } else {
        star?.classList.add("star-animate");
      }
    }, 20000);
  }
</script>

<style>
  .star-animate {
    animation: starAnimation 2.75s;
  }

  @keyframes starAnimation {
    0% {
      transform: rotate(0deg) scale(100%);
    }

    20% {
      transform: rotate(-25deg) scale(85%);
    }

    80% {
      transform: rotate(745deg) scale(90%);
    }

    100% {
      transform: rotate(720deg) scale(100%);
    }
  }
</style>
