---
interface Props {
  id?: string;
  header?: string;
  class?: string;
  headerClass?: string;
}

const { id, header, class: className, headerClass } = Astro.props;
---

<section
  id={id}
  class:list={[
    "mt-24 w-full max-w-[26rem] px-4 pt-4 sm:max-w-2xl sm:px-8 sm:pt-8 lg:mt-28 lg:max-w-7xl lg:pt-12 xl:max-w-6xl",
    header && "xl:px-0",
    className,
  ]}
>
  {
    header && (
      <h1
        class:list={[
          "mb-4 w-max rounded-full bg-primary px-5 py-3 text-sm text-neutral-100 sm:text-base lg:mb-6 lg:px-6",
          headerClass,
        ]}
      >
        {header}
      </h1>
    )
  }
  <slot />
</section>
